<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                “想了很久该怎么形容我们的关系，后来终于想到这句：我们是等红绿灯的时间也会忍不住亲吻的亲密爱人。” ​​​
            </p>
            <p class="paragraph-text justify-text">
               “春雨连绵不休
				有些东西会发霉 
				而有些东西会发芽
				大概等这场雨过去
				就到夏天了吧
				枝繁叶茂 生生不息” 
            </p>
            <p class="paragraph-text justify-text">
               “不是我太敏感了，而是所有的情绪都能在细枝末节的语言和眼神中有所表现。我看得出你的厌烦，它们和你之前对我的喜爱完全不同。” ​​​
            </p>
            <p class="paragraph-text justify-text">
                “傻子睿睿。” ​​​
            </p>
        </div>
    </section>
</div>
